body {
	font-family: sans-serif;
	overflow: hidden;
	color: #fff;
	background-color: #000;
}
div#world {
	position: absolute;
	z-index: 0;
	background-repeat: repeat;
	width: 10000px;
	height: 5000px;

}
div#instruction,
h1#title {
	text-shadow: 2px 2px 6px #000;
}
div#instruction {
	position: fixed;
	left: 0;
	top: 70px;
	z-index: 1;
}
h1#title {
	position: fixed;
	font-size: 40pt;
	left: 10;
	top: 0;
	margin: 0;
	padding: 0;
	z-index: 1;
}
