@media screen and (pointer:none) and (orientation: portrait) {
  html {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    height: 100vw;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
  }
}

body {
	font-family: sans-serif;
	overflow: hidden;
	color: #fff;
	background-color: #000;
}

div#world {
	position: absolute;
	z-index: 0;
	background-repeat: repeat;
	width: 10000px;
	height: 5000px;

}

div#instruction,
h1#title {
	text-shadow: 2px 2px 6px #000;
}

div#instruction {
	position: fixed;
	left: 0;
	top: 70px;
	z-index: 1;
}

h1#title {
	position: fixed;
	font-size: 40pt;
	left: 10;
	top: 0;
	margin: 0;
	padding: 0;
	z-index: 1;
}

dialog#dialog {
	border-radius: 30px;
	padding: 15px 30px;
	max-width: 350px;
	box-shadow: 0 0 20px #000;
	border: 1px solid white;
	outline: none;
	margin-bottom: 0;
	bottom: 50%;
}

dialog#dialog form {
	display: flex;
	align-items: flex-end;
    justify-content: flex-end;
	padding: 0;
	margin: 0;
}

dialog#dialog form button {
	padding: 5px 10px;
	margin: 0;
	border-radius: 10px;
	background: linear-gradient(#eee, #999);
	border: 1px solid #999;
	outline: none;
}

::backdrop {
	background-color: #000;
	opacity: 0.35;
}